.forbidden-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* Takes up most of the screen */
    text-align: center;
    color: var(--color-text);
}

.forbidden-title {
    font-size: 3rem;
    color: #ff4444;
    margin-bottom: 1rem;
}

.forbidden-message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.forbidden-timer {
    font-size: 1.2rem;
    opacity: 0.8;
}